{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="product-detail row">

    <div class="col-md-3">
        {% include '@App/ShopCatalog/leftPanel.html.twig' %}
    </div>

    <div class="col-md-9">
         <div class="row">
            <div class="col-md-12 bread">
                <a href="/">Úvod</a>
                / <a href="{{ path('shop_catalog_list', { slug: product.mainCategory.slug }) }}">{{ product.mainCategory.name }}</a>
                / <span>{{ product.name }}</span>
            </div>

            <div class="col-md-12">
                <h2>{{ product.name }}</h2>
                {% if product.annotation %}
                    <h6>{{ product.annotation }}</h6>
                {% endif %}
            </div>

            <div class="col-lg-6 col-md-12 left">
                <div class="image">
                    {% if product.images.count > 0 %}
                    <a class="gallery" data-fancybox="images" data-type="image" href="{{ product.images[0].path | imagine_filter('product_detail_large') }}">
                      <img width="100%" src="{{ product.images[0].path | imagine_filter('product_detail_main') }}" />
                    </a>
                    {% endif %}
                </div>

                <div class="row image-thumbnails">
                    {% for key, image in product.images %}
                        {% if key > 0 %}
                        <div class="col-md-4 col-4 thumbnail">
                            <div>
                                <a class="gallery" data-fancybox="images" data-type="image" href="{{ image.path | imagine_filter('product_detail_large') }}">
                                    <img width="100%" src="{{ image.path | imagine_filter('product_detail_thumb') }}" />
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-6 col-md-12 right">



                {#<p class="short-description">{{ product.annotation }}</p>#}

                <div class="availability">U vás do {{ product.availability }} dní</div>

                <form id="product-detail-form" action="{{ path('shop_cart_add', { id: product.id}) }}" method="POST" enctype="multipart/form-data">
                <table style="width: 100%;">
                    <colgroup><col><col style="width: 60%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="price">
                                {{ product.price | price }}
                            </td>
                            <td>

                                    <div class="cart-add">
                                        <input type="text" size="5" class="quantity" name="quantity" value="1" />
                                        <button type="submit" class="btn btn-success">
                                            <i class="fas fa-shopping-basket"></i>&nbsp;DO KOŠÍKU
                                        </button>
                                    </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table id="product-detail-info" style="width: 100%">
                    <colgroup><col><col style="width: 60%">
                    </colgroup><tbody>

                    <tr>
                        <td class="l-col">
                            Kód produktu
                        </td>
                        <td class="td-code">
                            <span>{{ product.model }}</span>
                        </td>
                    </tr>



                    <tr>
                        <td class="l-col">
                            Značka
                        </td>
                        <td>
                            GOWOOD
                        </td>
                    </tr>

                    <tr>
                        <td class="l-col">
                            Záruka
                        </td>
                        <td>
                            2 roky
                        </td>
                    </tr>


                    </tbody>
                </table>

                {% if product.attributes.count %}
                  <div class="attribute-form-title">Napište, jak to máme vyrobit :)</div>
                  {{ form_widget(attributeForm) }}
                {% endif %}

                </form>

                {% if product.module %}
                    {% include('AppBundle::ShopCatalog/Editor/' ~ product.module ~ '.html.twig') %}
                {% endif %}

            </div>

            {% if product.description %}
            <div class="col-md-12">
                <h3 class="description-title">Popis</h3>
                {{ product.description | raw }}
            </div>
            {% endif %}


            <div class="col-md-8">
                <h3 class="description-title">Chcete se nás na něco zeptat? Pište zde:</h3>
                 {{ render(controller('AppBundle:Contact:form')) }}
            </div>
            <div class="col-md-4"></div>
         </div>
    </div>
</div>
{% endblock %}


{# metatagy a opengraph #}
{% block title %}{{ (product.customMetatitle is not empty)?product.customMetatitle:product.name }}{% endblock %}

{% block keywords %}{{ (product.customMetakeywords is not empty)?product.customMetakeywords:parent() }}{% endblock %}

{% block description %}{{ (product.customMetadescription is not empty)?product.customMetadescription:parent() }}{% endblock %}

{% block og_title %}{{ (product.customMetatitle is not empty)?product.customMetatitle:parent() }}{% endblock %}

{% block og_image %}{{ (product.images[0] is defined)?(product.images[0].path | imagine_filter('categories_list')):parent() }}{% endblock %}

{% block og_description %}{{ (product.customMetadescription is not empty)?product.customMetadescription:parent() }}{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/detail.js') }}"></script>
{% endblock %}