{% extends 'AppBundle::base.html.twig' %}

{% block body %}

  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
          <p class="align-center">
              Jsme malá dílna, která vyrábí dekorace ze dřeva. Všechny naše produkty sami navrhujeme a vyrábíme. Vy si ale můžete říct, co máme na výrobky napsat, případně vyřezat.
              <br /><br />Pokud byste chtěli na výrobku větší úpravy, tak nám určitě napište, pokusíme se to vymyslet.
              A kdybyste měli nápad na dřevěný výrobek, který vůbec nemáme, tak se taky ozvěte, třeba ho zvládnem :)</p></div>
      <div class="col-md-1"></div>
  </div>

    <div class="categories-list row">
      <div class="col-md-12 align-center"><h5>Vyberte si z naší nabídky</h5></div>
    {% for category in categories %}
        <div class="col-md-6">
            <div class="item">
                <a href="{{ path('shop_catalog_list', { slug: category.slug }) }}">
                  <img width="100%" src="{{ category.filename | imagine_filter('categories_list') }}" alt="{{ category.name }}" />
                </a>
                <h2><a href="{{ path('shop_catalog_list', { slug: category.slug }) }}">{{ category.name }}</a></h2>
            </div>
        </div>
    {% endfor %}
  </div>
  {#
  <div class="row">
      <div class="col-md-12">
          <br />
          <h2 style="text-align: center;">Naše výrobky</h2>
          <br />
      </div>

      <div class="col-md-4">
              <a class="fancybox" data-fancybox="images" href="/data/reference/hodiny_manchester.jpg">
                  <img width="100%" src="{{ '/data/reference/hodiny_manchester.jpg' | imagine_filter('reference') }}" alt="Hodiny" />
              </a>
       </div>
      <div class="col-md-4">
          <a class="fancybox" data-fancybox="images" href="/data/reference/napis_svatba.jpg">
              <img width="100%" src="{{ '/data/reference/napis_svatba.jpg' | imagine_filter('reference') }}" alt="Hodiny" />
          </a>
      </div>
      <div class="col-md-4">
          <a class="fancybox" data-fancybox="images"   href="/data/reference/ramecek_svatba.jpg">
              <img width="100%" src="{{ '/data/reference/ramecek_svatba.jpg' | imagine_filter('reference') }}" alt="Hodiny" />
          </a>
      </div>
  </div>
  <br />
  <div class="row">
      <div class="col-md-4">
          <a class="fancybox" data-fancybox="images" href="/data/reference/medaile_tabor.jpg">
              <img width="100%" src="{{ '/data/reference/medaile_tabor.jpg' | imagine_filter('reference') }}" alt="Hodiny" />
          </a>
      </div>
      <div class="col-md-4">
          <a class="fancybox" data-fancybox="images" href="/data/reference/pametni_erb.jpg">
              <img width="100%" src="{{ '/data/reference/pametni_erb.jpg' | imagine_filter('reference') }}" alt="Hodiny" />
          </a>
      </div>
      <div class="col-md-4">
          <a class="fancybox" data-fancybox="images" href="/data/reference/ramecek_happy_days.jpg">
              <img width="100%" src="{{ '/data/reference/ramecek_happy_days.jpg' | imagine_filter('reference') }}" alt="Hodiny" />
          </a>
      </div>
      </div>
  </div>
#}
{#
 <div class="product-item-list row">
 {%  for product in products %}
   <div class="col-md-4">
       <div class="item">
           <h4>{{ product.name }}</h4>
           <div>
               <img width="260" src="{{ path('image_cache', { id: product.images[0].id, setting: '800x600x1'}) }}" />
           </div>
           {% for image in product.images %}
               <img width="100" src="{{ path('image_cache', { id: image.id, setting: '300x200x1'}) }}" />
           {% endfor %}
       </div>
   </div>
 {%  endfor %}
 </div>
 #}
    {#<i class="fab fa-accessible-icon"></i>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
{% endblock %}