{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="8000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="/kategorie/svatebni-dekorace-2019">
                    <img class="d-block w-100" src="{{ asset('images/banner/svatebni_dekorace.jpg') }}" alt="Dřevěné svatební dekorace">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/kategorie/svatebni-dary-2019">
                    <img class="d-block w-100" src="{{ asset('images/banner/svatebni_dary.jpg') }}" alt="Dřevené svatební dary">
                </a>
            </div>
            {#<div class="carousel-item active">
                <a href="/produkt/dubove-hodiny-100-let">
                  <img class="d-block w-100" src="{{ asset('images/banner/hodin100let.jpg') }}" alt="Hodiny ke 100. výročí vzniku republiky">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/kategorie/fotoramecky">
                    <img class="d-block w-100" src="{{ asset('images/banner/vlastni_ramecek.jpg') }}" alt="Vlastní rámeček">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/produkt/dubove-hodiny">
                    <img class="d-block w-100" src="{{ asset('images/banner/vlastni_hodiny.jpg') }}" alt="Vlastní hodiny">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/produkt/detsky-metr">
                    <img class="d-block w-100" src="{{ asset('images/banner/detsky_metr.jpg') }}" alt="Dětský metr">
                </a>
            </div>
            #}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Předchozí</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Další</span>
        </a>
    </div>

  {#
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
          <p class="align-center">
              S radostí děláme věci ze dřeva! Všechny naše produkty navrhujeme a vyrábíme sami. Vy si ale můžete říct, co máme na výrobky napsat, případně vyřezat.
              <br /><br />Pokud byste chtěli na výrobku větší úpravy, tak nám určitě napište, pokusíme se to vymyslet.
              A kdybyste měli nápad na dřevěný výrobek, který vůbec nemáme, tak se taky ozvěte, třeba ho zvládnem :)</p></div>
      <div class="col-md-1"></div>
  </div>
#}
    <br /><br />
    <div class="categories-list row">
      <div class="col-md-12 align-center"><h5>Vyberte si z naší nabídky</h5></div>
    {% for category in categories %}
        <div class="col-md-4{#{ (category.id == 8)?' offset-md-4':'' }#}">
            <div class="item">
                <a href="{{ path('shop_catalog_list', { slug: category.slug }) }}">
                  <img width="100%" src="{{ category.filename | imagine_filter('categories_list') }}" alt="{{ category.name }}" />
                </a>
                <h2><a href="{{ path('shop_catalog_list', { slug: category.slug }) }}">{{ category.name }}</a></h2>
            </div>
        </div>
    {% endfor %}
  </div>
  {#
  <div class="row">
      <div class="col-md-12">
          <br />
          <h2 style="text-align: center;">Naše výrobky</h2>
          <br />
      </div>

      <div class="col-md-4">
              <a class="fancybox" data-fancybox="images" href="/data/reference/hodiny_manchester.jpg">
                  <img width="100%" src="{{ '/data/reference/hodiny_manchester.jpg' | imagine_filter('reference') }}" alt="Hodiny" />
              </a>
       </div>
      <div class="col-md-4">
          <a class="fancybox" data-fancybox="images" href="/data/reference/napis_svatba.jpg">
              <img width="100%" src="{{ '/data/reference/napis_svatba.jpg' | imagine_filter('reference') }}" alt="Hodiny" />
          </a>
      </div>
      <div class="col-md-4">
          <a class="fancybox" data-fancybox="images"   href="/data/reference/ramecek_svatba.jpg">
              <img width="100%" src="{{ '/data/reference/ramecek_svatba.jpg' | imagine_filter('reference') }}" alt="Hodiny" />
          </a>
      </div>
  </div>
  <br />
  <div class="row">
      <div class="col-md-4">
          <a class="fancybox" data-fancybox="images" href="/data/reference/medaile_tabor.jpg">
              <img width="100%" src="{{ '/data/reference/medaile_tabor.jpg' | imagine_filter('reference') }}" alt="Hodiny" />
          </a>
      </div>
      <div class="col-md-4">
          <a class="fancybox" data-fancybox="images" href="/data/reference/pametni_erb.jpg">
              <img width="100%" src="{{ '/data/reference/pametni_erb.jpg' | imagine_filter('reference') }}" alt="Hodiny" />
          </a>
      </div>
      <div class="col-md-4">
          <a class="fancybox" data-fancybox="images" href="/data/reference/ramecek_happy_days.jpg">
              <img width="100%" src="{{ '/data/reference/ramecek_happy_days.jpg' | imagine_filter('reference') }}" alt="Hodiny" />
          </a>
      </div>
      </div>
  </div>
#}
{#
 <div class="product-item-list row">
 {%  for product in products %}
   <div class="col-md-4">
       <div class="item">
           <h4>{{ product.name }}</h4>
           <div>
               <img width="260" src="{{ path('image_cache', { id: product.images[0].id, setting: '800x600x1'}) }}" />
           </div>
           {% for image in product.images %}
               <img width="100" src="{{ path('image_cache', { id: image.id, setting: '300x200x1'}) }}" />
           {% endfor %}
       </div>
   </div>
 {%  endfor %}
 </div>
 #}
    {#<i class="fab fa-accessible-icon"></i>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
{% endblock %}