{% extends 'AppBundle::base.html.twig' %}

{% block body %}

 <div class="product-item-list row">
     <div class="col-md-3">

         {% include '@App/ShopCatalog/leftPanel.html.twig' %}

     </div>
     <div class="col-md-9">
         <div class="row">
             <div class="col-md-12">
                 <div class="bread">
                    <a href="/">Úvod</a> / <span>{{ category.name }}</span>
                 </div>
                 <h2>{{ category.name }}</h2>
                 {% if category.description %}
                 <p>{{ category.description }}</p>
                 {% endif %}
             </div>
             {%  for product in products %}
               <div class="col-md-6">
                   {% include 'AppBundle::ShopCatalog/listItem.html.twig' with {'product': product} %}
               </div>
             {%  endfor %}
         </div>
   </div>
 </div>
{% endblock %}

{# metatagy a opengraph #}
{% block title %}{{ (category.customMetatitle is not empty)?category.customMetatitle:category.name }}{% endblock %}

{% block keywords %}{{ (category.customMetakeywords is not empty)?category.customMetakeywords:parent() }}{% endblock %}

{% block description %}{{ (category.customMetadescription is not empty)?category.customMetadescription:parent() }}{% endblock %}

{% block og_title %}{{ (category.customMetatitle is not empty)?category.customMetatitle:category.name }}{% endblock %}

{% block og_image %}{{ (category.filename is not empty)?(category.filename | imagine_filter('categories_list')):parent() }}{% endblock %}

{% block og_description %}{{ (category.customMetadescription is not empty)?category.customMetadescription:parent() }}{% endblock %}