{% extends 'AppBundle::base.html.twig' %}

{% block body %}

 <div class="product-item-list row">
     <div class="col-md-3">

         {% include '@App/ShopCatalog/leftPanel.html.twig' %}

     </div>
     <div class="col-md-9">
         <div class="row">
             <div class="col-md-12">
                 <div class="bread">
                    <a href="/">Úvod</a> / <span>{{ category.name }}</span>
                 </div>
                 <h2>{{ category.name }}</h2>
                 {% if category.description %}
                 <p>{{ category.description }}</p>
                 {% endif %}
             </div>
             {%  for product in products %}
               <div class="col-md-6">
                   {% include 'AppBundle::ShopCatalog/listItem.html.twig' with {'product': product} %}
               </div>
             {%  endfor %}
         </div>
   </div>
 </div>
{% endblock %}

{# metatagy a opengraph #}
{% block title %}{{ (category.customMetatitle is not empty)?category.customMetatitle:category.name }}{% endblock %}

{% block keywords %}{{ (category.customMetakeywords is not empty)?category.customMetakeywords:parent() }}{% endblock %}

{% block description %}{{ (category.customMetadescription is not empty)?category.customMetadescription:parent() }}{% endblock %}

{% block og_title %}{{ (category.customMetatitle is not empty)?category.customMetatitle:category.name }}{% endblock %}

{% block og_image %}{{ (category.filename is not empty)?(category.filename | imagine_filter('categories_list')):parent() }}{% endblock %}

{% block og_description %}{{ (category.customMetadescription is not empty)?category.customMetadescription:parent() }}{% endblock %}


{% block datalayer %}
    <script>
        dataLayer.push({
            'ecomm_pagetype':'category',
            'ecomm_totalvalue': {{ dataLayer.ecomm_totalvalue }},
            'ecomm_prodid' : [{{ dataLayer.ecomm_prodid | join(',') | raw }}],
            'gads_event': 'view_item_list',
            'gads_items':
                [
                    {% for prodid in dataLayer.ecomm_prodid %}
                    {
                      'id': {{ prodid | raw }},
                      'google_business_vertical': 'retail'
                    }{% if not loop.last %},{% endif %}
                    {% endfor  %}
                ]
        });
    </script>
{% endblock %}

{% block fb_pixel_track %}
        fbq('track', 'ViewContent', {
            value: {{ dataLayer.ecomm_totalvalue }},
            currency: 'CZK',
            content_ids: [{{ dataLayer.ecomm_prodid | join(",") | raw }}],
            content_type: 'product'
        });
{% endblock %}