<div class="item">
    <div class="image">
        <a href="{{ path('shop_catalog_detail', { slug: product.slug }) }}">
            {% if product.images %}
            <img width="100%" src="{{ path('image_cache', { id: product.images[0].id, setting: '800x600x1'}) }}" />
            {% endif %}
        </a>
    </div>
    <h3><a href="{{ path('shop_catalog_detail', { slug: product.slug }) }}">{{ product.name }}</a></h3>
    <div class="price">{{ product.price | round }} Kč</div>
    <a href="{{ path('shop_catalog_detail', { slug: product.slug }) }}" class="btn btn-success active">
        <i class="fas fa-arrow-alt-circle-right"></i>
        Zadat vlastní text</a>
</div>