Vyberte pobočku:
<select style="width: 300px;" name="shipping_parameters[spot]" class="event update" data-value="1" data-handle="{{ path('shop_cart_update', { do: 'setZasilkovna' }) }}">
    <option value="0">--- vyberte pobočku ---</option>
    {% for spot in spots %}
    <option {% if selected and selected.id == spot.id %} selected="selected"{% endif %} value="{{ spot.id }}" >
        {{ spot.name }}
    </option>
    {% endfor %}
</select>

{% if selected %}
<div class="row" style="margin-top: 15px;">
    <div class="col-md-3">
        {% if selected.photos.0.thumbnail is defined %}
            <img src="{{ selected.photos.0.thumbnail }}" />
        {% endif %}
    </div>
    <div class="col-md-3">
        <strong>{{ selected.place }}</strong><br />
        {{ selected.street }}<br />
        {{ selected.zip }} {{ selected.city }}<br />
    </div>
    <div class="col-md-3">
        <i>Otevírací doba:</i><br >
        {% if selected.openingHours.compactLong is defined %}
          {{ selected.openingHours.compactLong | raw }}
        {% endif %}
    </div>
</div>
{% endif %}

{#
<input type="hidden" class="packeta-selector-branch-id" name="shipping_parameters[spot]" value="{% if selected %}{{ selected.id }}{% endif %}" />

<div class="packeta-selector-branch-name"></div>

<span onclick="return false;" href="#" class="packeta-selector-open">Vybrat výdejní místo</span>

{% block footerscript %}
    <script>
        var packetaSelectorOpen = '.packeta-selector-open';
        var packetaSelectorBranchName = '.packeta-selector-branch-name';
        var packetaSelectorBranchId = '.packeta-selector-branch-id';
        var packetaCountry = 'cz';
        var packetaWidgetLanguage = 'cs';

        var packetaExternalCssUrl = '';
    </script>

    <script src="https://widget.packeta.com/www/js/packetaWidget.js" data-api-key="9d1bfb04fa98b403"></script>
{% endblock %#}