{#Vyberte pobočku:
<select style="width: 300px;" name="shipping_parameters[spot]" class="event update" data-value="1" data-handle="{{ path('shop_cart_update', { do: 'setZasilkovna' }) }}">
    <option value="0">--- vyberte pobočku ---</option>
    {% for spot in spots %}
    <option {% if selected and selected.id == spot.id %} selected="selected"{% endif %} value="{{ spot.id }}" >
        {{ spot.name }}
    </option>
    {% endfor %}
</select>
#}

<span onclick="return false;" href="#" class="btn btn-primary packeta-selector-open">Vybrat výdejní místo</span>

{% include 'AppBundle:Shipping:zasilkovna.detail.html.twig' with {'selected': selected} %}

<input type="text" style="display: none;" id="zasilkovna-id" class="packeta-selector-branch-id event click" name="shipping_parameters[spot]" value="{% if selected %}{{ selected.id }}{% endif %}" data-value="1" data-handle="{{ path('shop_cart_update', { do: 'setZasilkovna' }) }}" />

{#<div class="packeta-selector-branch-name"></div>#}

{% block footerscript %}
    <script>
        var packetaSelectorOpen = '.packeta-selector-open';
        var packetaSelectorBranchName = '.packeta-selector-branch-name';
        var packetaSelectorBranchId = '.packeta-selector-branch-id';
        var packetaCountry = 'cz';
        var packetaWidgetLanguage = 'cs';
        var packetaExternalCssUrl = '';
    </script>

    <script src="https://widget.packeta.com/www/js/packetaWidget.js" data-api-key="9d1bfb04fa98b403"></script>
{% endblock %}
