Vyberte pobočku:
<select style="width: 300px;" name="shipping_parameters[spot]" class="event update" data-value="1" data-handle="{{ path('shop_cart_update', { do: 'setZasilkovna' }) }}">
    <option value="0">--- vyberte pobočku ---</option>
    {% for spot in spots %}
    <option {% if selected and selected.id == spot.id %} selected="selected"{% endif %} value="{{ spot.id }}" >
        {{ spot.name }}
    </option>
    {% endfor %}
</select>

{% if selected %}
<div class="row" style="margin-top: 15px;">
    <div class="col-md-3">
        {% if selected.photos.0.thumbnail is defined %}
            <img src="{{ selected.photos.0.thumbnail }}" />
        {% endif %}
    </div>
    <div class="col-md-3">
        <strong>{{ selected.place }}</strong><br />
        {{ selected.street }}<br />
        {{ selected.zip }} {{ selected.city }}<br />
    </div>
    <div class="col-md-3">
        <i>Otevírací doba:</i><br >
        {% if selected.openingHours.compactLong is defined %}
          {{ selected.openingHours.compactLong | raw }}
        {% endif %}
    </div>
</div>
{% endif %}