<!DOCTYPE html>
<html lang="cs">
    <head>
        {% if not app.debug %}
        <script>
            var dataLayer = dataLayer || []; // Google Tag Manager
        </script>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WZJJ3ZT');</script>
        <!-- End Google Tag Manager -->
        {% endif %}

        {% block datalayer %}{% endblock %}

        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window, document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '326154811607780');
            fbq('track', 'PageView');
            {% block fb_pixel_track %}{% endblock %}
        </script>

        <!-- End Facebook Pixel Code -->

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}Dřevěné doplňky{% endblock %} | GOWOOD</title>

        <meta name="keywords" content="{% block keywords %}gowood, eshop s dřevěnými doplňky, dárek, dárek k vánocům, svatební dar, dárek k narození dítěte, dřevěné doplňky, dřevěné hodiny, dřevěné ráměčky, dětský metr{% endblock %}">
        <meta name="description" content="{% block description %}Dřevené výrobky, především dekorace, vhodné jako dárek.{% endblock %}">
        <meta name="robots" content="index,follow">

        <!-- Open Graph -->
        <meta property="og:site_name" content="GOWOOD">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="cs_CZ">

        <meta property="og:title" content="{% block og_title %}GOWOOD - dřevěné doplňky a dekorace{% endblock %}">
        <meta property="og:image" content="{% block og_image %}https://www.gowood.cz/images/logo_v2.png{% endblock %}">
        <meta property="og:description" content="{% block og_description %}Dřevené výrobky, především dekorace, vhodné jako dárek.{% endblock %}">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}?v2" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% if not app.debug %}
        <!-- Start of Smartsupp Live Chat script -->
        <script type="text/javascript">
            var _smartsupp = _smartsupp || {};
            _smartsupp.key = '231bf00293b612a87c72fc111c7b270e6556b9c4';
            window.smartsupp||(function(d) {
                var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
                s=d.getElementsByTagName('script')[0];c=d.createElement('script');
                c.type='text/javascript';c.charset='utf-8';c.async=true;
                c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
            })(document);
        </script>
        {% endif %}
    </head>
    <body>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v3.1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        {% if not app.debug %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZJJ3ZT"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=326154811607780&ev=PageView&noscript=1"/></noscript>

        <div align="center" class="alert alert-success">Doprava do Zásilkovny ZDARMA!</div>
        {#<div align="center" class="alert alert-danger">Objednávky přijaté po 9. prosinci 2018 budeme odesílat až začátkem roku 2019. Děkujeme za pochopení.</div>#}
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-6 header-logo">
                        <a href="/">
                            <img width="60%" src="{{ asset('images/logo_v2.png') }}" />
                        </a>
                    </div>
                    <div class="col-md-4 d-sm-none d-none ml-auto d-md-block search-contact">
                        <div class="contact row">
                            <div class="col-lg-6 col-md-12 phone">
                                <span class="d-none d-md-block"><i class="fas fa-phone"></i> +420 728 870 246</span>
                            </div>
                            <div class="col-lg-6 col-md-12 email"><i class="fas fa-envelope"></i> <a href="mailto:info@gowood.cz"><span>
                            info@gowood.cz</span></a></div>
                        </div>
                        <div class="search row">
                            <div class="col-md-12">
                                <form method="GET" action="{{ path('shop_search') }}">
                                <div class="search-input">
                                    <i class="fas fa-search"></i>


                                        <input name="query" type="text" placeholder="" />
                                        <div class="submit">
                                            <input type="submit" value="HLEDAT" />
                                        </div>

                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="cart col-md-4 col-sm-6 col-6 ml-auto d-md-block header-cart-box">
                        {% include 'AppBundle:ShopCustomer/boxes:head.html.twig' %}
                        {% include 'AppBundle:ShopCart/boxes:head-cart.html.twig' %}
                    </div>
                    <div class="col-12 d-block d-sm-block d-md-none search-contact">
                        <div class="contact row">
                            <div class="col-6 phone">
                                <a href="tel:+420728870246" title="Telefon"><span><i class="fas fa-phone"></i> +420 728 870 246</span></a>
                            </div>
                            <div class="col-6 email">
                                <a href="mailto:info@gowood.cz"><span><i class="fas fa-envelope"></i>
                            info@gowood.cz</span></a></div>
                        </div>
                        <div class="row search-button">
                            <div class="col-8">
                                <form method="GET" action="{{ path('shop_search') }}">
                                    <input class="search" name="query" type="text" />
                                    <input style="display: none;" type="submit" value="Hledat" />
                                </form>
                            </div>
                            <div class="col-2 align-center">
                                <button class="btn btn-link btn-user-toggle d-md-none p-0" type="button" data-toggle="collapse" data-target="#user" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Zobrazení uživatele">
                                    <i class="fas fa-user fa-lg"></i>
                                </button>
                            </div>
                            <div class="col-2" align="center">
                                <button class="btn btn-link btn-menu-toggle d-md-none p-0" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="separator"></div>

            <div id="user-menu-mobile" class="menu">
                <div class="container">
                    <ul>
                        {% if app.user %}
                            <li><a href="#">{{ app.user.email }}</a></li>
                            <li><a href="{{ path('logout') }}">Odhlásit</a></li>
                        {% else %}
                            <li><a href="{{ path('login') }}">Přihlášení</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div id="main-menu" class="menu">
                <div class="container">
                <ul>
                    <li><a href="/">E-shop</a></li>
                    <li><a href="{{ path('page_about_us') }}">O nás</a></li>
                    <li><a href="{{ path('page_about_buying') }}">Vše o nákupu</a></li>
                    {#<li><a href="/">Blog</a></li>#}
                    <li><a href="{{ path('page_for_companies') }}">Pro firmy</a></li>
                    <li><a href="{{ path('page_terms') }}">Obchodní podmínky</a></li>
                    <li><a href="{{ path('page_contact') }}">Kontaktní informace</a></li>
                </ul>
                </div>
            </div>



        </header>
        {#
        <div class="container menu">
            <div class="topbar_menu">
                {{ render(controller(
                'AppBundle:ShopCatalog:categories'
                )) }}
            </div>
        </div>
        #}
        <section id="content" class="clearfix">
            <div class="checkout container">

                    {#<div class="col-md-2">
                        <div id="sidebar">
                            {{ render(controller(
                            'AppBundle:ShopCatalog:categories'
                            )) }}
                        </div>
                    </div>#}
                    {% block body %}{% endblock %}
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 foot-logo"><img width="200" src="/images/logo_v1_white.png" alt="GOWOOD.CZ" />
                        <p>Radost ze dřeva</p>
                    </div>
                    <div class="col-md-3 links">
                        <a href="{{ path('page_about_us') }}">O nás</a><br />
                        <a href="{{ path('page_about_buying') }}">Vše o nákupu</a><br />
                        {#<a href="/">Blog</a><br />#}
                        <a href="{{ path('page_for_companies') }}">Pro firmy</a><br />
                        <a href="{{ path('page_terms') }}">Obchodní podmínky</a><br />
                        <a href="{{ path('page_gdpr') }}">Ochrana osobních údajů</a><br />
                        <a href="{{ path('page_cookies') }}">Pravidla používání cookies</a><br />
                        <a href="/vse-o-nakupu#reklamace">Reklamační řád</a><br />
                        <a href="{{ path('page_contact') }}">Kontakt</a><br />
                    </div>
                    <div class="col-md-3 foot-shipping-payment">
                        <div class="title">Dopravci</div>
                        <div class="line">
                            <img src="/images/shipping/img-dpd.png">
                            <img src="/images/shipping/img-post.png">
                            <img src="/images/shipping/img-zasilkovna.png">
                        </div>

                        <div class="title">Platební systémy</div>
                        <div class="line"><img src="/images/payment/img-gopay.png"></div>
                        <div class="line">
                            <img src="/images/payment/img-visa.png">
                            <img src="/images/payment/img-visa-el.png">
                            <img src="/images/payment/img-maestro.png">
                        </div>
                        <div class="line">
                            <img src="/images/payment/img-mastercard.png">
                            <img src="/images/payment/img-mastercard-el.png">

                        </div>
                    </div>
                    <div class="col-md-3 contact">
                        <div class="title">Kontakt</div>
                        Petr Kožený<br />
                        Jižní 378, Třebestovice 289 12<br />

                        <a href="mailto:info@gowood.cz">info@gowood.cz</a><br />

                        +420 728 870 246<br />

                    </div>
                </div>
            </div>
        </footer>


        <!-- Modal structure -->
        {#<div id="modal" data-iziModal-fullscreen="false"  data-iziModal-title="GOWOOD hlášení"  data-iziModal-subtitle="Produkt vložen do košíku"  data-iziModal-icon="fas fa-cart-plus">
            <div id="modal-content">
                AAAMMM
            </div>
        </div>#}


        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/editor.js') }}"></script>
            <script src="{{ asset('js/iziModal.min.js') }}"></script>
            <script src="{{ asset('js/jqueryvalidation/jquery.validate.min.js') }}"></script>
            <script src="{{ asset('js/jqueryvalidation/localization/messages_cs.js') }}"></script>
            <script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
            <script src="{{ asset('js/cookies-message.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
