<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}GOWOOD - dřevěné doplňky{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v3.1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-6 header-logo">
                        <a href="/">
                            <img width="60%" src="{{ asset('images/logo_v2.png') }}" />
                        </a>
                    </div>
                    <div class="col-md-4 d-sm-none d-none ml-auto d-md-block search-contact">
                        <div class="contact row">
                            <div class="col-lg-6 col-md-12 phone">
                                <span class="d-none d-md-block"><i class="fas fa-phone"></i> +420728870246</span>
                            </div>
                            <div class="col-lg-6 col-md-12 email"><i class="fas fa-envelope"></i> <a href="mailto:info@gowood.cz"><span>
                            info@gowood.cz</span></a></div>
                        </div>
                        <div class="search row">
                            <div class="col-md-12">
                                <div class="search-input">
                                    <i class="fas fa-search"></i>
                                    <input type="text" placeholder="" />
                                    <div class="submit">
                                        <input type="submit" value="HLEDAT" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart col-md-4 col-sm-6 col-6 ml-auto d-md-block header-cart-box">
                        {% include 'AppBundle:ShopCart/boxes:head-cart.html.twig' %}
                    </div>
                    <div class="col-12 d-sm-block d-md-none search-contact">
                        <div class="contact row">
                            <div class="col-6 phone">
                                <a href="tel:+420728870246" title="Telefon"><span><i class="fas fa-phone"></i> +420728870246</span></a>
                            </div>
                            <div class="col-6 email">
                                <a href="mailto:info@gowood.cz"><span><i class="fas fa-envelope"></i>
                            info@gowood.cz</span></a></div>
                        </div>
                        <div class="row search-button">
                            <div class="col-6"><input class="search" type="text" /></div>
                            <div class="col-3">&nbsp;</div>
                            <div class="col-3" align="center">
                                <button class="btn btn-link btn-menu-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="separator"></div>

            <div class="menu">
                <div class="container">
                <ul>
                    <li><a href="/">E-shop</a></li>
                    <li><a href="/">O nás</a></li>
                    <li><a href="/">Vše o nákupu</a></li>
                    <li><a href="/">Blog</a></li>
                    <li><a href="/">Pro firmy</a></li>
                    <li><a href="/">Obchodní podmínky</a></li>
                    <li><a href="/">Kontakt</a></li>
                </ul>
                </div>
            </div>

        </header>
        {#
        <div class="container menu">
            <div class="topbar_menu">
                {{ render(controller(
                'AppBundle:ShopCatalog:categories'
                )) }}
            </div>
        </div>
        #}
        <section id="content" class="clearfix">
            <div class="checkout container">

                    {#<div class="col-md-2">
                        <div id="sidebar">
                            {{ render(controller(
                            'AppBundle:ShopCatalog:categories'
                            )) }}
                        </div>
                    </div>#}
                    {% block body %}{% endblock %}
            </div>
        </section>

        <footer>

        </footer>


        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="{{ asset('js/editor.js') }}"></script>
        {% endblock %}
    </body>
</html>
