{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="cart row">

    {% include '@App/ShopCart/steps.html.twig' with {'step': 1} %}
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <h3><i class="fas fa-shopping-basket"></i>&nbsp;Můj košík</h3>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        {% if cart.items.count %}

            {% include 'AppBundle:ShopCart/boxes:step1-items.html.twig' with {'cart': cart, 'summary': false} %}

            {% include 'AppBundle:ShopCart/boxes:step1-shipping-payment.html.twig' with {'cart': cart, 'shippings': shippings, 'payments': payments} %}

            {% include 'AppBundle:ShopCart/boxes:step1-total.html.twig' with {'cart': cart} %}

            <div class="continue">
              <a class="btn btn-success" href="{{ path('shop_customer') }}">Pokračovat k dodacím údajům <i class="fas fa-chevron-right"></i></a>
            </div>
        {% else %}

            <p>Váš košík je prázdný</p>

        {% endif %}

        {% if cart.items %}

            {#
            <table class="items" width="100%">
                <tr>
                    <th>Model</th>
                    <th>Název</th>
                    <th>Počet</th>
                    <th>Cena</th>
                    <th>Akce</th>
                </tr>
                {% for item in cart.items %}
                <tr>
                        <td valign="top">{{ item.product.model }}</td>
                    <td>
                        <strong>{{ item.product.name }}</strong>
                        {% if item.attributes %}
                          {% for attribute in item.attributes %}
                              <br />{{ attribute.name }}: {{ attribute.value }}
                          {% endfor  %}
                        {% endif %}
                    </td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>smazat</td>
                </tr>
                {% endfor %}
            </table>
            #}



    </div>
    <div class="col-md-1"></div>
    {% else %}
    <p>Váš košík je prázdný</p>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/shopping-cart.js') }}"></script>
    <script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
{% endblock %}