{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="customer row">

    {% include '@App/ShopCart/steps.html.twig' with {'step': 2} %}

    <div class="col-md-9">

        <h3><i class="fas fa-money-check-alt"></i> Fakturační údaje</h3>

        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="login-box" align="center">
            <p>Máte u nás účet, <a class="show-form" href="{{ path('login') }}">přihlaste se</a>.</p>
            <div class="login-box-form box-shaddow" style="display: none;">
                <form id="login" action="{{ path('login_ajax') }}">
                    <div class="login-error row">
                        <div class="col-md-12">
                            Neplatné přihlášení. Pokud již neznáte přihlašovací jméno a heslo, můžete si ho nechat <a href="{{ path('reset_password_request') }}">zaslat na e-mail</a>.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            Email:
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" required id="username" type="email" name="username" />
                        </div>
                        <div class="col-md-1">
                            Heslo:
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" required id="password" type="password" />
                        </div>
                        <div class="col-md-1">
                            <input class="btn btn-success" type="submit" value="Přihlásit" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}

        <form action="{{ path('shop_customer') }}" method="POST" novalidate>

        {{ form_widget(billingForm._token) }}

        <div class="billing-address">
            <div class="row">
                <div class="col-md-2">
                    {{ form_label(billingForm.billing_name) }}
                </div>
                <div class="col-md-10">
                    {{ form_widget(billingForm.billing_name) }}
                    {{ form_errors(billingForm.billing_name) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_label(billingForm.email) }}
                </div>
                <div class="col-md-4">
                    {{ form_widget(billingForm.email) }}
                    {{ form_errors(billingForm.email) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(billingForm.phone) }}
                </div>
                <div class="col-md-4">
                    {{ form_widget(billingForm.phone) }}
                    {{ form_errors(billingForm.phone) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(billingForm.billing_address) }}
                </div>
                <div class="col-md-10">
                    {{ form_widget(billingForm.billing_address) }}
                    {{ form_errors(billingForm.billing_address) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(billingForm.billing_city) }}
                </div>
                <div class="col-md-4">
                    {{ form_widget(billingForm.billing_city) }}
                    {{ form_errors(billingForm.billing_city) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(billingForm.billing_postcode) }}
                </div>
                <div class="col-md-4">
                    {{ form_widget(billingForm.billing_postcode) }}
                    {{ form_errors(billingForm.billing_postcode) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_label(billingForm.billing_company) }}
                </div>
                <div class="col-md-4">
                    {{ form_widget(billingForm.billing_company) }}
                    {{ form_errors(billingForm.billing_company) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_label(billingForm.billing_ico) }}
                </div>
                <div class="col-md-4">
                    {{ form_widget(billingForm.billing_ico) }}
                    {{ form_errors(billingForm.billing_ico) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(billingForm.billing_dic) }}
                </div>
                <div class="col-md-4">
                    {{ form_widget(billingForm.billing_dic) }}
                    {{ form_errors(billingForm.billing_dic) }}
                </div>
            </div>
        </div>

            <h3><i class="fas fa-box-open"></i> Dodací údaje</h3>

        <div class="delivery-address">
            <div class="row">
                <div class="col-md-12">
                    {{ form_widget(billingForm.is_delivery) }}
                </div>
            </div>

            <div class="delivery-form">
                {{ form_widget(deliveryForm._token) }}

                {#{ form_widget(deliveryForm) }#}
                <div class="row">
                    <div class="col-md-2">
                        {{ form_label(deliveryForm.delivery_name) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_widget(deliveryForm.delivery_name) }}
                        {{ form_errors(deliveryForm.delivery_name) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(deliveryForm.delivery_phone) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_widget(deliveryForm.delivery_phone) }}
                        {{ form_errors(deliveryForm.delivery_phone) }}
                    </div>
                </div>
                {% if fullDeliveryAddress %}
                <div class="row">
                    <div class="col-md-2">
                        {{ form_label(deliveryForm.delivery_company) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_widget(deliveryForm.delivery_company) }}
                        {{ form_errors(deliveryForm.delivery_company) }}
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-2">
                        {{ form_label(deliveryForm.delivery_address) }}
                    </div>
                    <div class="col-md-10">
                        {{ form_widget(deliveryForm.delivery_address) }}
                        {{ form_errors(deliveryForm.delivery_address) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(deliveryForm.delivery_city) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_widget(deliveryForm.delivery_city) }}
                        {{ form_errors(deliveryForm.delivery_city) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(deliveryForm.delivery_postcode) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_widget(deliveryForm.delivery_postcode) }}
                        {{ form_errors(deliveryForm.delivery_postcode) }}
                    </div>
                </div>
                {% else %}
                    {{ form_widget(deliveryForm.delivery_company) }}
                    {{ form_widget(deliveryForm.delivery_address) }}
                    {{ form_widget(deliveryForm.delivery_city) }}
                    {{ form_widget(deliveryForm.delivery_postcode) }}
                    <p>Pro tento typ doručení nepotřebujeme znát všechny údaje, stačí nám jenom jméno a případně telefon.</p>
                {% endif %}
            </div>
        </div>

        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <h3><i class="fas fa-user"></i></i> Účet u GOWOOD</h3>

        <div class="create-account box-shaddow">
            <div class="row">
                <div class="col-md-12">
                    {{ form_widget(billingForm.is_create_account) }}
                </div>
            </div>

            <div class="password-form row">
                <div class="col-md-2">
                    {{ form_label(passwordForm.plainPassword.first) }}
                </div>
                <div class="col-md-4">
                    {{ form_widget(passwordForm.plainPassword.first) }}
                    {{ form_errors(passwordForm.plainPassword.first) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(passwordForm.plainPassword.second) }}
                </div>
                <div class="col-md-4">
                    {{ form_widget(passwordForm.plainPassword.second) }}
                    {{ form_errors(passwordForm.plainPassword.second) }}
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-10 password-info">
                    Vaše heslo u nás bude bezpečně uložené v zašifrované podobě. Nikdo k němu nebude mít přístup.
                </div>
            </div>

        </div>
        {% endif %}

        <h3><i class="fas fa-pen"></i></i> Poznámky k objednávce</h3>

        <div class="order-note box-shaddow">
            <div class="row">
                <div class="col-md-12">
                    {{ form_widget(billingForm.order_note) }}
                </div>
            </div>
        </div>


        {#{ form_widget(passwordForm) }#}
        <div class="continue">
            <a class="link" href="{{ path('shop_cart') }}"><i class="fas fa-chevron-left"></i> Zpět k dopravě a platbě</a>
            <button class="btn btn-primary">Shrnutí objednávky <i class="fas fa-chevron-right"></i></button>
        </div>

        </form>
    </div>

    <div class="col-md-3">
        <div class="step2-box-summary">
            <div class="title">Objednávka</div>

            {% for item in cm.cart.items %}
                <div class="item">
                    <span class="product">{{ item.quantity }} x {{ item.product.name }}</span>
                    <span class="price">{{ item.price | price }}</span>
                </div>
            {% endfor %}

            <div class="subtitle">Doprava</div>
            <div>{{ cm.cart.shipping }}</div>
            <div>{{ cm.cart.getShippingPrice ? ( cm.cart.getShippingPrice | price) : 'zdarma' }}</div>

            <div class="subtitle">Platba</div>
            <div>{{ cm.cart.payment }}</div>

            <div class="subtitle">Celková cena</div>
            <div class="total-price">{{ cm.cart.total | price }}</div>

        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jqueryvalidation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('js/jqueryvalidation/localization/messages_cs.js') }}"></script>
    <script src="{{ asset('js/customer.js') }}"></script>
{% endblock %}