{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="customer row">

    <div class="col-md-12">
        <div class="steps row">
            <div class="col-md-4"><span class="step"><a href="{{ path('shop_cart') }}">1 Způsob dopravy a platby</a></span></div>
            <div class="col-md-4"><span class="step">2 Dodací a fakturační údaje</span></div>
            <div class="col-md-4"><span class="step">3 Shrnutí a platba</span></div>
        </div>
    </div>

    <div class="col-md-8">

        <h3><i class="fas fa-shopping-basket"></i>Fakturační údaje</h3>





        <form action="{{ path('shop_customer') }}" method="POST" novalidate>

            {{ form_widget(billingForm) }}

            {{ form_widget(deliveryForm) }}

            {{ form_widget(passwordForm) }}

            <input type="submit" class="btn btn-primary" value="Pokračovat ke shrnutí objednávky" />
        </form>
    </div>

    <div class="col-md-4">
        <div><strong>Objednávka</strong></div>

        <table width="100%">
            <tr>
                <th>Model</th>
                <th>Název</th>
                <th>Počet</th>
                <th>Cena</th>
                <th>Akce</th>
            </tr>
            {% for item in cm.cart.items %}
                <tr>
                    <td>{{ item.product.model }}</td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>smazat</td>
                </tr>
            {% endfor %}
        </table>

        <div><strong>Doprava</strong></div>
        <div>{{ cm.cart.shipping }}</div>

        <div><strong>Platba</strong></div>
        <div>{{ cm.cart.payment }}</div>

        <div><strong>Celková cena</strong></div>
        <div>{{ cm.cart.total | price }}</div>
    </div>
</div>
{% endblock %}