<html>
  <body>



<table width="100%" cellspacing="0" cellpadding="20" border="0" bgcolor="#ECECEC"><tbody><tr><td>
            <table width="800" cellspacing="0" cellpadding="0" border="0" bgcolor="white" align="center"><tbody><tr><td>
                        <table width="100%" cellspacing="20" cellpadding="0" border="0"><tbody><tr><td>
                                    <table width="100%" cellspacing="0" cellpadding="10" border="0"><tbody><tr><td>
                                                <br></td></tr></tbody></table>

                                    <table style="border-bottom:1px solid #ececec;padding-bottom:6px" width="100%" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td align="left"><img alt="gowood.cz" src="https://www.gowood.cz/images/logo_v2.png" width="173" height="54"></td>
                                            <td align="right"><font size="+1" color="#00285A">Objednávka: <b>{{ order.id }}</b></font></td>
                                        </tr>
                                        </tbody></table>
                                    <br>


                                    <p style="padding: 10px;">Vážený zákazníku,</p>
                                    <p style="padding: 10px;">děkujeme za Váš nákup, objednávku jsme v pořádku přijali. O jejím zpracování Vás budeme dále informovat e-mailem.</p>

                                    <h2 style="font-family:Arial;color:#0b3166;font-size:23px;padding:10px;">Vaše objednávka</h2>


                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <colgroup><col width="1%">
                                            <col width="7%">
                                            <col width="67%">
                                            <col width="5%">
                                            <col width="20%">
                                        </colgroup><tbody>
                                        <tr>
                                            <td style="border-top:1px#e0e0e0 solid">&nbsp;</td>
                                            <td style="border-top:1px#e0e0e0 solid">&nbsp;</td>
                                            <td style="border-top:1px#e0e0e0 solid">&nbsp;</td>
                                            <td style="border-top:1px#e0e0e0 solid">&nbsp;</td>
                                            <td style="border-top:1px#e0e0e0 solid">&nbsp;</td>
                                        </tr>

                                        {% for item in order.items %}
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td valign="top"><img width="100%" src="{{ app.request.getSchemeAndHttpHost }}{{ path('image_cache', { id: item.product.images[0].id, setting: '200x150x1'}) }}" /></td>
                                            <td style="padding:5px 10px" valign="center">
                                                <b>{{ item.name }}</b> ({{ item.model }})

                                                {% if item.attributes %}
                                                <font size="-1">
                                                    <span class="attributes">
                                                        {% for attribute in item.attributes %}
                                                            <br />
                                                            {% if attribute.type == 'FileType' %}
                                                            {{ attribute.name }}: <span class="value"><a class="cart-item-image" href="{{ app.request.getSchemeAndHttpHost }}{{ attribute.file }}">{{ attribute.value }}</a></span>
                                                            {% else %}
                                                            {{ attribute.name }}: <span class="value">{{ attribute.value }}</span>
                                                        {% endif %}
                                                        {% endfor  %}
                                                    </span>
                                                </font>
                                                {% endif %}

                                            </td>
                                            <td style="padding:5px 10px 5px 0px" valign="center" nowrap="">{{ item.quantity }} ks</td>
                                            <td style="padding:5px 10px 0px 0px" valign="center" align="right"><font color="#0b3166"><b>{{ item.price | price }}</b></font></td>
                                        </tr>
                                        <tr>
                                                <td style="border-bottom:1px#e0e0e0 solid">&nbsp;</td>
                                                <td style="border-bottom:1px#e0e0e0 solid">&nbsp;</td>
                                                <td style="border-bottom:1px#e0e0e0 solid">&nbsp;</td>
                                                <td style="border-bottom:1px#e0e0e0 solid">&nbsp;</td>
                                                <td style="border-bottom:1px#e0e0e0 solid">&nbsp;</td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td valign="top"></td>
                                            <td style="padding:5px 10px" valign="center">
                                                <b>Doprava: {{ order.shippingName }}</b>
                                            </td>
                                            <td style="padding:5px 10px 5px 0px" valign="center" nowrap="">1 ks</td>
                                            <td style="padding:5px 10px 0px 0px" valign="center" align="right">
                                                <font color="#0b3166">
                                                    <b>
                                                        {{ order.shippingPrice?(order.shippingPrice | price):'zdarma' }}
                                                    </b>
                                                </font></td>
                                        </tr>

                                        {% if order.paymentPrice %}
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td valign="top"></td>
                                            <td style="padding:5px 10px" valign="center">
                                                <b>Dobírka:</b>
                                            </td>
                                            <td style="padding:5px 10px 5px 0px" valign="center" nowrap="">1 ks</td>
                                            <td style="padding:5px 10px 0px 0px" valign="center" align="right">
                                                <font color="#0b3166">
                                                    <b>
                                                        {{ order.paymentPrice | price }}
                                                    </b>
                                                </font></td>
                                        </tr>
                                        {% endif %}

                                        <tr>
                                            <td style="border-bottom:1px#e0e0e0 solid">&nbsp;</td>
                                            <td style="border-bottom:1px#e0e0e0 solid">&nbsp;</td>
                                            <td style="border-bottom:1px#e0e0e0 solid">&nbsp;</td>
                                            <td style="border-bottom:1px#e0e0e0 solid">&nbsp;</td>
                                            <td style="border-bottom:1px#e0e0e0 solid">&nbsp;</td>
                                        </tr>
                                        <tr><td colspan="3">&nbsp;</td></tr>


                                        <tr>
                                            <td style="padding:10px" colspan="4" align="right">Celková cena:</td>
                                            <td style="padding:10px" align="right"><strong>{{ order.total | price }}</strong></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <br>

                                    {% if order.orderNote %}
                                        <h2 style="font-family:Arial;color:#0b3166;font-size:23px;padding:10px;margin-top: 10px; margin-bottom: 10px;">Poznámka k objednávce</h2>

                                        <p style="padding: 10px;margin-top: 10px; margin-bottom: 10px;">
                                        <i>{{ order.orderNote }}</i>
                                        </p>
                                    {% endif %}
                                    <br>

                                    <h2 style="font-family:Arial;color:#0b3166;font-size:23px;padding:10px;margin-top: 10px; margin-bottom: 10px;">Platba</h2>

                                    <p style="padding: 10px;margin-top: 10px; margin-bottom: 10px;">Způsob platby: <b>{{ order.paymentName }}</b></p>

                                    {% if order.paymentCode == 'transfer' %}
                                        <p style="padding: 10px;margin-top: 10px; margin-bottom: 10px;">
                                        Platbu prosím pošlete na účet <strong>115-1652560227 / 0100</strong> (Komerční banka, a.s.)<br />
                                        Variabilní symbol: <strong>{{ order.getPaymentReference }}</strong></p>
                                        <p style="padding: 10px;margin-top: 10px; margin-bottom: 10px; font-style:italic;"><strong>Objednávka půjde do výroby až po připsání celkové částky na náš bankovní účet.</strong></p>
                                    {% endif %}

                                    {% if order.isGopay %}
                                    <p style="padding: 10px;margin-top: 10px; margin-bottom: 10px;">
                                        <i>Na platbu budete přesměrováni ihned po dokončení objednávky, pokud jste platbu nedokončili, můžete ji provést <a href="{{ app.request.getSchemeAndHttpHost }}{{ path('shop_gopay_repayment', { hash: order.hash }) }}">ZDE</a></i>
                                    </p>
                                    {% endif %}

                                    <p style="padding: 10px;margin-top: 10px; margin-bottom: 10px;">
                                        <b>Fakturační adresa</b><br><br>
                                        <strong>{{ order.billingName }}</strong><br />
                                        {% if order.billingCompany %}
                                            <strong>{{ order.billingCompany }}</strong><br />
                                        {% endif %}

                                        {% if order.billingIco %}
                                           IČO: {{ order.billingIco }}<br />
                                        {% endif %}
                                        {% if order.billingDic %}
                                            DIČ: {{ order.billingDic }}<br />
                                        {% endif %}

                                        {{ order.billingAddress }}<br />
                                        {{ order.billingCity }}, {{ order.billingPostcode }}
                                    </p>

                                    <h2 style="font-family:Arial;color:#0b3166;font-size:23px;padding:10px;margin-top: 10px; margin-bottom: 10px;">Doprava</h2>

                                    <p style="padding: 10px;margin-top: 10px; margin-bottom: 10px;">Dopravní metoda: <b>{{ order.shippingName }}</b></p>

                                    {% if order.shippingCode == 'zasilkovna' %}
                                        <p style="padding: 10px;margin-top: 10px; margin-bottom: 10px; font-style: italic;">
                                            Vybraná pobočka:
                                            <strong>{{ order.shippingParameters.place }}</strong>,
                                            {{ order.shippingParameters.street }},
                                            {{ order.shippingParameters.zip }} {{ order.shippingParameters.city }}<br /><br />
                                        </p>
                                    {% endif %}

                                    <p style="padding: 10px;margin-top: 10px; margin-bottom: 10px;">
                                        <b style="color:#0b3166;">Dodací adresa</b><br><br>
                                        <strong>{{ order.deliveryName }}</strong><br />
                                        {% if order.deliveryCompany %}
                                            <strong>{{ order.deliveryCompany }}</strong><br />
                                        {% endif %}

                                        {{ order.deliveryAddress }}<br />
                                        {{ order.deliveryCity }}, {{ order.deliveryPostcode }}<br />
                                        {{ order.deliveryPhone }}<br />
                                        {{ order.email }}
                                    </p>

                                    <br />
                                    <p style="padding: 10px;">
                                        <strong>GOWOOD.CZ</strong><br />
                                        Petr Kožený<br />
                                        T: +420 728 870 246<br />
                                        E: info@gowood.cz<br />
                                    </p>
                                    <br />
                                    <br />

                                    <center>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td>
                                                    <p style="padding: 10px;margin-top: 10px; margin-bottom: 10px;">Přikládáme plné znění našich obchodních podmínek.<p>
                                                    <p style="padding: 10px;margin-top: 10px; margin-bottom: 10px;">Máte jakoukoli otázku? Něco nesedí? Pište na info@gowood.cz nebo volejte na 728 870 246.
                                                </td>
                                            </tr>
                                            <tr style="height:10px;line-height:10px">
                                                <td>
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </center>

                                </td></tr></tbody></table>

                    </td>



                </tbody></table>




        </td></tr></tbody></table>

  </body>
</html>