{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="summary row">

    <div class="col-md-12">
        <div class="steps row">
            <div class="col-md-4"><span class="step"><a href="{{ path('shop_cart') }}">1 Způsob dopravy a platby</a></span></div>
            <div class="col-md-4"><span class="step"><a href="{{ path('shop_customer') }}">2 Dodací a fakturační údaje</a></span></div>
            <div class="col-md-4"><span class="step">3 Shrnutí a platba</span></div>
        </div>
    </div>

    <div class="col-md-8">
        <h3>Přehled objednávky</h3>

        <table width="100%">
            <tr>
                <th>Model</th>
                <th>Název</th>
                <th>Počet</th>
                <th>Cena</th>
                <th>Akce</th>
            </tr>
            {% for item in cm.cart.items %}
                <tr>
                    <td>{{ item.product.model }}</td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>smazat</td>
                </tr>
            {% endfor %}
        </table>

        <div><strong>Fakturační adresa</strong></div>
        {{ billing.billing_name }}<br />
        {{ billing.billing_address }}<br />
        {{ billing.billing_postcode }} {{ billing.billing_city }}<br />

        <div><strong>Dodací adresa</strong></div>
        {{ delivery.delivery_name }}<br />
        {{ delivery.delivery_address }}<br />
        {{ delivery.delivery_postcode }} {{ delivery.delivery_city }}<br />


        <form action="{{ path('shop_order_finish') }}" method="POST" novalidate>

            <input type="submit" class="btn btn-primary" value="Dokončit objednávku" />

        </form>
    </div>

</div>
{% endblock %}