<html>
  <body>

<table width="100%" cellspacing="0" cellpadding="20" border="0" bgcolor="#ECECEC"><tbody><tr><td>
            <table width="800" cellspacing="0" cellpadding="0" border="0" bgcolor="white" align="center"><tbody><tr><td>
                        <table width="100%" cellspacing="20" cellpadding="0" border="0"><tbody><tr><td>
                                    <table width="100%" cellspacing="0" cellpadding="10" border="0"><tbody><tr><td>
                                                <br></td></tr></tbody></table>

                                    <table style="border-bottom:1px solid #ececec;padding-bottom:6px" width="100%" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td align="left"><img alt="gowood.cz" src="{{ app.request.getSchemeAndHttpHost }}/images/logo_v2.png" width="173" height="54"></td>
                                            <td align="right"><font size="+1" color="#00285A">Změna hesla</font></td>
                                        </tr>
                                        </tbody></table>
                                    <br>


                                    <p style="padding: 10px;">Vážený zákazníku,</p>
                                    <p style="padding: 10px;">přijali jsme Váš požadavek na změnu hesla. Změnu můžete provést na na této adrese:</p>

                                    <p style="padding: 10px;"><a href="{{ app.request.getSchemeAndHttpHost }}{{ path('reset_password', { 'hash': customer.resetPasswordHash }) }}">{{ app.request.getSchemeAndHttpHost }}{{ path('reset_password', { 'hash': customer.resetPasswordHash }) }}</a></p>

                                </td></tr></tbody></table>

                    </td></tr><tr bgcolor="white">
                    <td>

                    </td>
                </tr>



                </tbody></table>




        </td></tr></tbody></table>

  </body>
</html>