<table>
    <tr>
        <td>Jméno:</td>
        <td>{{ data.contact.name }}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{ data.contact.email }}</td>
    </tr>
    <tr>
        <td>Telefon:</td>
        <td>{{ data.contact.phone }}</td>
    </tr>
    <tr>
        <td>Dotaz:</td>
        <td>{{ data.contact.message }}</td>
    </tr>
</table>

<p>Dotaz odeslán ze stránky: {{ data.referer }}</p>

<p>Děkujeme za Váš dotaz, ozveme se co nejdříve :)</p>
