<div id="box-step1-cart-items">
    {% for item in cart.items %}
        <div class="checkout-item" data-id="{{ item.id }}">
            <div class="image">
                <a href="{{ path('shop_catalog_detail', { slug: item.product.slug }) }}">
                    <img width="100%" src="{{ item.product.images[0].path | imagine_filter('cart_thumb') }}" />
                </a>
            </div>
            {#<div class="model">{{ item.product.model }}</div>#}
            <div class="name">
                <strong>
                    <a href="{{ path('shop_catalog_detail', { slug: item.product.slug }) }}">{{ item.product.name }}</a>
                </strong>
                {% if item.attributes %}
                    <span class="attributes">
                        {% for attribute in item.attributes %}
                            <br />
                            {% if attribute.type == 'FileType' %}
                            {{ attribute.name }}: <span class="value"><a class="cart-item-image" href="{{ attribute.file }}">{{ attribute.value }}</a></span>
                            {% else %}
                              {{ attribute.name }}: <span class="value">{{ attribute.value }}</span>
                            {% endif %}
                        {% endfor  %}
                    </span>
                {% endif %}
            </div>
            <div class="availability"></div>
            <div class="quantity{{ summary ? ' summary':'' }}">
                {% if not summary %}
                <input type="text" class="form-control event keyup" data-validation="number" data-handle="{{ path('shop_cart_update', { do: 'updateQuantity', id: item.id }) }}" data-value="1" value="{{ item.quantity }}" name="quantity[{{ item.id }}]" />
                {% else %}
                    {{ item.quantity }} ks
                {% endif  %}
            </div>
            <div class="price">{{ (item.price * item.quantity) | price }}</div>
            <div class="delete">
                {% if not summary %}
                <a class="event click" data-handle="{{ path('shop_cart_update', { do: 'deleteItem', id: item.id }) }}" data-value="0" href="#"><i class="fas fa-trash-alt"></i></a>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% if not summary %}
    <div class="subtotal">
        Celkem bez dopravy a platby: <span>{{ cart.totalProducts | price }}</span>
    </div>
    {% endif %}
</div>